<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found</title>
</head>
<body>
<br><br>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-8 offset-md-2">
      <div class="card text-dark bg-light mb-4">
        <div class="card-body">
          <h1>Uh Oh! Page Not Found!</h1>
          <img src="https://a.pinatafarm.com/620x413/43fdfd01e2/girl-running.jpg"/><hr>
          <button class="btn btn-warning" onclick="history.back()">Quick! Go Back Go Back Go Back!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>
