<h1>{{group!.name}} Members</h1>
<button (click)="showLeaders = !showLeaders">View {{showLeaders ? "Members" : "Leaders"}}</button>
<!-- <ul>
  <li *ngFor="let member of groupMembers | groupRole:showLeaders">{{member.user.firstName}}</li>
</ul> -->

<div class="container">
  <div class="row">
    <div class="col-md-6" *ngFor="let member of groupMembers | groupRole:showLeaders">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{member.user.firstName}} <img class="profile" src="{{member.user.imageUrl}}"></h5>
          <p class="card-text">
            <strong>Username:</strong> {{member.user.username}}<br>
            <strong>Email:</strong> {{member.user.email}}<br>
            <strong>phone:</strong> {{member.user.phone}}<br>
          </p>
          <p class="card-text"></p><small class="text-muted">Contact Info</small>

        </div>
      </div>
    </div>

  </div>
</div>

