<br><br>
<div class="container-fluid text-center">
  <h1>Activity Groups</h1><hr>
  </div>
<!-- Display all social groups -->
<div class="container-fluid text-center">
  <div class="row align-items-start">
    <div class="col-6 offset-md-3">
<div *ngIf="!selectedGroup">
<div *ngFor="let group of groups">
  <img class="group" (click)="displayGroup(group)" (click)="displayGroupSocialEvents(group.id)" [src]="group.imageUrl">
  <h2  (click)="displayGroup(group)" (click)="displayGroupSocialEvents(group.id)">{{group.name}}</h2><hr>
</div>
</div>
</div>
</div>
</div>

<!-- Display Social Group Details -->
<br>
<div class="container-fluid" style="text-align: center;" *ngIf="selectedGroup">
  <img class="group" [src]="selectedGroup.imageUrl"><br><br>
  <h1>{{selectedGroup.name}}</h1>
  <p><strong>Category: </strong>{{selectedGroup.category.name}}</p>
  <!-- <h3>{{selectedGroupUser.leader}}</h3> // FIX ME -->
   <h4>Description:</h4>
  <blockquote>{{selectedGroup.description}}</blockquote><hr>

<!-- Events of Group -->
  <div class="container-fluid" style="text-align: center;" *ngFor="let event of events">
    <h2>{{event.title}} </h2>
    <img class="event" [src]="event.imageUrl"><br><br>
    <p>{{event.description}}</p>
    <h3>Event Date:</h3>
    <p>{{event.eventDate}}</p>
    <h3>Meeting Address:</h3>
    <p>{{event.meetAddress.address}} {{event.meetAddress.city}}, {{event.meetAddress.state}} {{event.meetAddress.zip}}</p><hr>
  </div>
  <button (click)="selectedGroup = null" class="btn btn-primary">Back to Social Groups</button><br><br>


<!-- NEW EVENT FORM -->
<div class="container-fluid" style="text-align: center;" *ngIf="selectedGroupUser && selectedGroupUser.leader">
  <form class="form-control form-label form-group form-check form-inline"><br>
    <h2>Create New Event</h2><br>
    <label for="title">Event Title:</label><br>
    <input type="text" id="title" name="title" size="50" [(ngModel)]="newSocialEvent.title"><br><br>

    <label for="description">Event Description:</label><br>
    <textarea type="text" cols="50" rows="5" id="description" name="description" [(ngModel)]="newSocialEvent.description"></textarea><br><br>

    <label for="imageUrl">Event Image URL:</label><br>
    <input type="text" id="imageUrl" name="imageUrl" size="50" [(ngModel)]="newSocialEvent.imageUrl"><br><br>

    <label for="eventDate">Event Date:</label><br>
    <input type="date" id="eventDate" name="eventDate" size="50" [(ngModel)]="newSocialEvent.eventDate"><br><br>

    <label for="startTime">Event Start Time:</label><br>
    <input type="time" id="startTime" name="startTime" size="50" [(ngModel)]="newSocialEvent.startTime"><br><br>

    <label for="endTime">Event End Time:</label><br>
    <input type="time" id="endTime" name="endTime" size="50" [(ngModel)]="newSocialEvent.endTime"><br><br>

    <label for="cost">Event Cost:</label><br>
    <input type="number" id="cost" name="cost" [(ngModel)]="newSocialEvent.cost"><br><br>

    <label for="meetAddress.name">Meet Address Name:</label><br>
    <input type="text" id="meetAddress.name" name="meetAddress.name" [(ngModel)]="newSocialEvent.meetAddress.name"><br><br>

    <label for="meetAddress.address">Meet Address:</label><br>
    <input type="text" id="meetAddress.address" name="meetAddress.address" [(ngModel)]="newSocialEvent.meetAddress.address"><br><br>

    <label for="meetAddress.city">Meet Address City:</label><br>
    <input type="text" id="meetAddress.city" name="meetAddress.city" [(ngModel)]="newSocialEvent.meetAddress.city"><br><br>

    <label for="meetAddress.state">Meet Address State:</label><br>
    <input type="text" id="meetAddress.state" name="meetAddress.state" [(ngModel)]="newSocialEvent.meetAddress.state"><br><br>

    <label for="meetAddress.zip">Meet Address Zip:</label><br>
    <input type="text" id="meetAddress.zip" name="meetAddress.zip" [(ngModel)]="newSocialEvent.meetAddress.zip"><br><br>


  <button class="btn btn-success" (click)="createSocialEvent(newSocialEvent, selectedGroup.id)" >Create New Event</button><br><br>
  </form></div></div><br><br>
