<br><br>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-10 offset-md-1">
      <div class="card text-dark bg-light mb-4">
        <div class="card-body">
  <h1>Activity Groups</h1><hr>
  <div class="form-group">
    <label for="categoryFilter">Filter by Category:</label>
            <select id="categoryFilter" class="form-control" [(ngModel)]="selectedCategoryId" (change)="filterGroups()">
              <option [ngValue]="null">All Categories</option>
              <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
            </select>
  </div>
  </div>
<!-- Display all social groups -->
<div class="container-fluid text-center">
  <div class="row align-items-start">
    <div class="col-6 offset-md-3">
<div *ngIf="!selectedGroup">
<div *ngFor="let group of groups">
  <img class="group" (click)="displayGroup(group)" (click)="displayGroupSocialEvents(group.id)" [src]="group.imageUrl">
  <h2  (click)="displayGroup(group)" (click)="displayGroupSocialEvents(group.id)">{{group.name}}</h2><hr>
</div>
</div>
</div>
</div>
</div>

<!-- Display Social Group Details -->
<br>
<div class="container-fluid text-center" *ngIf="selectedGroup">
  <img class="group" [src]="selectedGroup.imageUrl"><br><br>
  <h1>{{selectedGroup.name}}</h1>
  <p><strong>Category: </strong>{{selectedGroup.category.name}}</p>
  <div class="card col-6 offset-md-3 text-dark bg-light mb-4 ">
    <div class="card-body">
  <h4>Description:</h4>
  <blockquote>{{selectedGroup.description}}</blockquote>
  </div>
  </div>
  <div *ngIf="!loggedInUser">
    <h4>To View Events for This Group You MUST Be A Member</h4><br>
    <button class="btn btn-warning" [routerLink]="['/register']">Register Now</button><br><br>
  </div>
  <div *ngIf="loggedInUser">
  <button class="btn btn-warning" [routerLink]="['/social-group', selectedGroup.id, 'members']">View Members & Group Leaders</button><br><br>
  <hr>
  </div>
<!-- Events of Group -->
<div *ngIf="loggedInUser">
<h1>Events for the {{selectedGroup.name}} Group</h1><br>
</div>
<div class="container-fluid text-center;" *ngFor="let event of events">
  <div class="row">
    <div class="col-10 offset-md-1">
      <div class="card text-dark bg-light mb-4">
        <div class="card-body">

    <h2>{{event.title}} </h2>
    <img class="event" [src]="event.imageUrl"><br><br>
    <p>{{event.description}}</p>
    <h3>Event Date:</h3>
    <p>{{event.eventDate}}</p>
    <h3>Start Time:</h3>
    <p>{{event.startTime}}</p>
    <h3>Meeting Address:</h3>
    <h5>{{event.meetAddress.name}}</h5>
    <a href="http://maps.google.com/?q={{event.meetAddress.address}}{{event.meetAddress.city}},{{event.meetAddress.state}}{{event.meetAddress.zip}}" target="blank">
      {{event.meetAddress.address}} {{event.meetAddress.city}}, {{event.meetAddress.state}} {{event.meetAddress.zip}}</a><br><br>
      <h3>Cost:</h3>
    <p>${{event.cost}}.00</p>

  <!--UPDATE SOCIAL EVENT FORM-->

<button *ngIf="editEvent?.id !== event.id" (click)="setEditEvent(event)" class="btn btn-primary">Edit This Event</button>
<button *ngIf="editEvent?.id === event.id" (click)="cancelEditEvent()" class="btn btn-danger">Cancel Edit Event</button><br><br>
<div *ngIf="editEvent && editEvent.id === event.id" >
<form><br>
  <h2>Update Event</h2><br>
  <div class="col-6 offset-md-3">
  <label for="title">Event Title:</label><br>
  <input type="text" name="title" size="50" [(ngModel)]="editEvent.title" class="form-control text-center"><br><br>

  <label for="description">Event Description:</label><br>
  <textarea type="text" name="description" cols="50" rows="5" [(ngModel)]="editEvent.description" class="form-control text-center"></textarea><br><br>

  <label for="imageUrl">Event Image URL:</label><br>
  <input type="text" name="imageUrl" size="50" [(ngModel)]="editEvent.imageUrl" class="form-control text-center"><br><br>

  <label for="eventDate">Event Date:</label><br>
  <input type="date" name="eventDate" size="50" [(ngModel)]="editEvent.eventDate" class="form-control text-center"><br><br>

  <label for="startTime">Event Start Time:</label><br>
  <input type="time" name="startTime" size="50" [(ngModel)]="editEvent.startTime" class="form-control text-center"><br><br>

  <label for="endTime">Event End Time:</label><br>
  <input type="time" name="endTime" size="50" [(ngModel)]="editEvent.endTime" class="form-control text-center"><br><br>

  <label for="cost">Event Cost:</label><br>
  <input type="number" name="cost" [(ngModel)]="editEvent.cost" class="form-control text-center"><br><br>
    <button *ngIf="!showNewAddressForm" (click)="toggleNewAddress()" class="btn btn-primary">Create New Address</button>
        <button *ngIf="showNewAddressForm" (click)="cancelNewAddress()" class="btn btn-danger">Cancel New Address</button><br><br></div>
        <div *ngIf="showNewAddressForm">
  <div class="col-6 offset-md-3">
  <label for="meetAddress.name">Meet Address Name:</label><br>
  <input type="text" id="meetAddress.name" name="meetAddress.name" [(ngModel)]="editEvent.meetAddress.name" class="form-control text-center"><br><br>

  <label for="meetAddress.address">Meet Address:</label><br>
  <input type="text" id="meetAddress.address" name="meetAddress.address" [(ngModel)]="editEvent.meetAddress.address" class="form-control text-center"><br><br>

  <label for="meetAddress.city">Meet Address City:</label><br>
  <input type="text" id="meetAddress.city" name="meetAddress.city" [(ngModel)]="editEvent.meetAddress.city" class="form-control text-center"><br><br>

  <label for="meetAddress.state">Meet Address State:</label><br>
  <input type="text" id="meetAddress.state" name="meetAddress.state" [(ngModel)]="editEvent.meetAddress.state" class="form-control text-center"><br><br>

  <label for="meetAddress.zip">Meet Address Zip:</label><br>
  <input type="text" id="meetAddress.zip" name="meetAddress.zip" [(ngModel)]="editEvent.meetAddress.zip" class="form-control text-center"><br><br>
</div></div>

<div *ngIf="!showNewAddressForm">
  <label>OR Choose An Existing Meet Location:</label><br>
    <select type="select" name="address" [(ngModel)]="newSocialEvent.meetAddress.id"  class="form-control text-center">
      <option *ngFor="let address of addresses" value="{{address.id}}">{{address.name}}</option>
    </select><br></div>

<button class="btn btn-success" (click)="updateSocialEvent(editEvent, selectedGroup.id)" >Update Event</button><br><br>
</form>
</div></div></div></div></div></div>
<hr>
<button (click)="selectedGroup = null" class="btn btn-danger">Back to Social Groups</button><br><br>


<!-- NEW EVENT FORM -->
<div class="container-fluid text-center" *ngIf="selectedGroupUser && selectedGroupUser.leader">
  <div class="row">
    <div class="col-10 offset-md-1">
      <div class="card text-dark bg-light mb-4">
        <div class="card-body">
  <form><br>
    <h2>Create New Event</h2><br>
    <div class="col-6 offset-md-3">
    <label for="title">Event Title:</label><br>
    <input type="text" id="title" name="title" size="50" [(ngModel)]="newSocialEvent.title" class="form-control text-center"><br><br>

    <label for="description">Event Description:</label><br>
    <textarea type="text" cols="50" rows="5" id="description" name="description" [(ngModel)]="newSocialEvent.description" class="form-control text-center"></textarea><br><br>

    <label for="imageUrl">Event Image URL:</label><br>
    <input type="text" id="imageUrl" name="imageUrl" size="50" [(ngModel)]="newSocialEvent.imageUrl" class="form-control text-center"><br><br>

    <label for="eventDate">Event Date:</label><br>
    <input type="date" id="eventDate" name="eventDate" size="50" [(ngModel)]="newSocialEvent.eventDate" class="form-control text-center"><br><br>

    <label for="startTime">Event Start Time:</label><br>
    <input type="time" id="startTime" name="startTime" size="50" [(ngModel)]="newSocialEvent.startTime" class="form-control text-center"><br><br>

    <label for="endTime">Event End Time:</label><br>
    <input type="time" id="endTime" name="endTime" size="50" [(ngModel)]="newSocialEvent.endTime" class="form-control text-center"><br><br>

    <label for="cost">Event Cost:</label><br>
    <input type="number" id="cost" name="cost" [(ngModel)]="newSocialEvent.cost" class="form-control text-center"><br><br>

    <button *ngIf="!showNewAddressForm" (click)="toggleNewAddress()" class="btn btn-primary">Create New Address</button>
    <button *ngIf="showNewAddressForm" (click)="cancelNewAddress()" class="btn btn-danger">Cancel New Address</button><br><br></div>
    <div *ngIf="showNewAddressForm"><div class="col-6 offset-md-3">
      <label for="meetAddress.name">Meet Address Name:</label><br>
      <input type="text" id="meetAddress.name" name="meetAddress.name" [(ngModel)]="newSocialEvent.meetAddress.name" class="form-control text-center"><br><br>

      <label for="meetAddress.address">Meet Address:</label><br>
      <input type="text" id="meetAddress.address" name="meetAddress.address" [(ngModel)]="newSocialEvent.meetAddress.address" class="form-control text-center"><br><br>

      <label for="meetAddress.city">Meet Address City:</label><br>
      <input type="text" id="meetAddress.city" name="meetAddress.city" [(ngModel)]="newSocialEvent.meetAddress.city" class="form-control text-center"><br><br>

      <label for="meetAddress.state">Meet Address State:</label><br>
      <input type="text" id="meetAddress.state" name="meetAddress.state" [(ngModel)]="newSocialEvent.meetAddress.state" class="form-control text-center"><br><br>

      <label for="meetAddress.zip">Meet Address Zip:</label><br>
      <input type="text" id="meetAddress.zip" name="meetAddress.zip" [(ngModel)]="newSocialEvent.meetAddress.zip" class="form-control text-center"><br><br>
    </div></div>
    <div *ngIf="!showNewAddressForm">
    <label>OR Choose An Existing Meet Location:</label><br>
      <select type="select" name="address" [(ngModel)]="newSocialEvent.meetAddress.id"  class="form-control text-center">
        <option *ngFor="let address of addresses" value="{{address.id}}">{{address.name}}</option>
      </select><br></div>

  <button class="btn btn-success" (click)="createSocialEvent(newSocialEvent, selectedGroup.id)">Create New Event</button><br><br>
  </form></div></div>
</div></div></div></div></div></div></div></div>
<br>
