<br><br>

<!-- DETAILS DIV -->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-6 offset-md-3">
      <p><img class="profile" src="{{loggedInUser.imageUrl}}"></p><br>
      <div class="card text-dark bg-light mb-5">
        <div class="card-body">
          <h1 class="text-center">{{loggedInUser.username}}</h1><br>
          <button *ngIf="!isSendingMessage" (click)="sendDirectMessage()" (click)="cancelViewMessages()" class="btn btn-send">Send Direct Message</button>
          <button *ngIf="isSendingMessage" (click)="cancelDirectMessage()" class="btn btn-warning">Cancel Direct Message</button>&nbsp;&nbsp;
          <button *ngIf="!isViewingMessages" (click)="viewMessages()" (click)="cancelDirectMessage()" class="btn btn-success">View My Messages</button>
          <button *ngIf="isViewingMessages" (click)="cancelViewMessages()" class="btn btn-warning">Close Messages</button>
            <div class="col-8 offset-md-2">
            <!-- SENDING MESSAGE -->
            <div *ngIf="isSendingMessage && !isViewingMessages" class="text-center"><br>
            <textarea type="text" cols="50" rows="7" class="form-control text-center"></textarea><br>
            <button class="btn btn-success">Send Message</button>
              </div>

            <!-- VIEWING MESSAGEs -->
            <div *ngIf="isViewingMessages" class="text-center"><br>
              <h3>Messages: </h3>
              <div class="card px-4"><br>
              <blockquote class="text-center">Hey Greg! I will be there at the next Settlers of Catan Event. I had a lot of fun at the last one. Thanks!</blockquote>
              <p><strong>- memberTyler</strong></p>
            </div><br>
            <button class="btn btn-primary">Reply</button><br><br>

            <div class="card px-4"><br>
              <blockquote class="text-center">I just joined your Board Gamers group! I'm excited to meet everyone and play some games!</blockquote>
              <p><strong>- memberSusie</strong></p>
            </div><br>
            <button class="btn btn-primary">Reply</button><br><br>

            <div class="card px-4"><br>
              <blockquote class="text-center">Greg, Chris here. I am wondering if we can start playing recent winners of Game of the Year. I am willing to host it at my shop and I already have a few games. Let me know!</blockquote>
              <p><strong>- memberChris</strong></p>
            </div><br>
            <button class="btn btn-primary">Reply</button><br><br>
          </div><br>
          </div><hr>

          <!-- USER INFO -->
          <h4>Name: {{loggedInUser.firstName}} {{loggedInUser.lastName}}</h4><br>
          <h5><a href= "mailto:{{loggedInUser.email}}" class="btn btn-warning bi bi-envelope-arrow-up">Send Email</a>&nbsp;&nbsp;
            <a class="btn btn-primary" href=“tel:{{loggedInUser.phone}}”>Call or Text</a></h5><br>
          <h4>Bio:</h4>
          <div class="card col-10 offset-md-1 text-dark bg-light mb-4 ">
            <div class="card-body">
              <p>{{loggedInUser.biography}}</p>
            </div>
          </div>

          <!-- CLICKABLE FORM -->
          <button *ngIf="!isEditing" (click)="editProfile()" class="btn btn-primary">Edit My Profile</button>
          <button *ngIf="isEditing" (click)="cancelEdit()" class="btn btn-danger">Cancel Edit Profile</button>
          <div class="col-6 offset-md-3">
            <div *ngIf="isEditing" class="text-center"><br>

              <label>First Name:</label>
              <input type="text" [(ngModel)]="loggedInUser.firstName" class="form-control text-center" /><br>

              <label>Last Name:</label>
              <input type="text" [(ngModel)]="loggedInUser.lastName" class="form-control text-center" /><br>

              <label>Email:</label>
              <input type="email" [(ngModel)]="loggedInUser.email" class="form-control text-center" /><br>

              <label>Phone:</label>
              <input type="tel" [(ngModel)]="loggedInUser.phone" class="form-control text-center" />
            </div>
          </div>
          <div class="col-10 offset-md-1">
            <div *ngIf="isEditing" class="text-center"><br>

            <label>Bio:</label>
            <textarea type="text" cols="50" rows="7" [(ngModel)]="loggedInUser.biography" class="form-control text-center"></textarea><br>

            <label>Profile Image URL:</label>
            <input type="text" [(ngModel)]="loggedInUser.imageUrl" class="form-control text-center" /><br>

            <button (click)="saveEdits()" (click)="updateUser(loggedInUser)" class="btn btn-success">Save Profile Edits</button>
          </div>
        </div>
      </div><br>
    </div>
  </div>
</div>

<!-- MY GROUP LIST -->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-8 offset-md-2">
      <div class="card text-dark bg-light mb-4">
        <div class="card-body">
          <h2>My Groups</h2><br>
          <button *ngIf="!showMyGroups" (click)="displayMyGroups()" class="btn btn-primary">View Groups</button>
          <button *ngIf="showMyGroups" (click)="hideMyGroups()" class="btn btn-danger">Hide Groups</button>
          <div *ngIf="showMyGroups"><br>
            <div *ngFor="let group of ownedGroups">
              <img class="group" [src]="group.imageUrl"><br>
              <h3> {{group.name}}</h3>
              <p><strong>Category: </strong>{{group.category.name}}</p>
              <h3>Description: </h3>
                <div class="card col-8 offset-md-2 text-dark bg-light mb-4 ">
                  <div class="card-body">
                    <blockquote>{{group.description}}</blockquote>
                  </div>
                </div>

                <!-- EDIT MY GROUP -->
                <button *ngIf="isEditingGroup?.id !== group.id" (click)="editMyGroup(group)" class="btn btn-primary">Edit This Group</button>
                <button *ngIf="isEditingGroup?.id === group.id" (click)="cancelEditGroup()" class="btn btn-danger">Cancel Edit Group</button><br><br>
              <div *ngIf="isEditingGroup && isEditingGroup.id === group.id">
                <div class="col-6 offset-md-3">

                  <label>Name:</label>
                  <input type="text" [(ngModel)]="isEditingGroup.name" class="form-control text-center" /><br>

                  <label>Category:</label><br>
                  <select type="select" [(ngModel)]="isEditingGroup.category.id" class="form-control text-center">
                  <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                  </select><br>
                </div>
                <div class="col-10 offset-md-1">
                  <label>Description:</label>
                  <textarea type="text" cols="50" rows="4" [(ngModel)]="isEditingGroup.description" class="form-control text-center"></textarea><br>

                  <label>Image Url:</label>
                  <input type="text" [(ngModel)]="isEditingGroup.imageUrl" class="form-control text-center" /><br>
                </div>
                <button (click)="saveGroupEdits()" (click)="updateMyGroup(isEditingGroup)" class="btn btn-success">Save Group Edits</button><br>
              </div><hr>
            </div>
          </div>
        </div><br>
      </div>
    </div>
  </div>
</div><br>

<!-- NEW GROUP FORM -->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-8 offset-md-2">
      <div class="card text-dark bg-light mb-4">
        <div class="card-body">
          <h2>Create New Group</h2><br>
          <button *ngIf="!showNewGroupForm" (click)="toggleNewGroup()" class="btn btn-primary">Create New Group</button>
          <button *ngIf="showNewGroupForm" (click)="cancelNewGroup()" class="btn btn-danger">Cancel New Group</button><br><br>
          <div *ngIf="showNewGroupForm">
            <div class="col-6 offset-md-3">

            <label>Name:</label>
            <input type="text" [(ngModel)]="socialGroup.name" class="form-control text-center" /><br>

            <label>Category:</label><br>
            <select type="select" [(ngModel)]="socialGroup.category.id" class="form-control text-center">
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
            </select><br>
          </div>
          <div class="col-10 offset-md-1">
            <label>Description:</label>
            <textarea type="text" cols="50" rows="4" [(ngModel)]="socialGroup.description" class="form-control text-center"></textarea><br>

            <label>Image Url:</label>
            <input type="text" [(ngModel)]="socialGroup.imageUrl" class="form-control text-center" /><br>
          </div>
          <button (click)="createNewGroup(socialGroup)" class="btn btn-success">Create Group</button><br><br>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
