<br><br>
<h1 style="text-align: center;">{{loggedInUser.username}}</h1>
<br>

<!-- DETAILS DIV -->
<div class="container-fluid" style="text-align: center;">
  <p><img src="{{loggedInUser.imageUrl}}"></p>
  <h4>Name: {{loggedInUser.firstName}} {{loggedInUser.lastName}}</h4>
  <h5>{{loggedInUser.email}} - {{loggedInUser.phone}}</h5>
  <p>{{loggedInUser.biography}}</p>
  <button class="btn btn-warning" >Submit Edits</button><br><br>
</div>
<br><br>

<!-- CLICKABLE FORM -->
 <button (click)="updateUser(loggedInUser)" class="btn btn-primary">Edit Account</button>
<div *ngIf="editUser">
  <label for="firstName">First Name:</label><br>
  <input type="text" id="firstName" name="firstName" [(ngModel)]="loggedInUser.firstName" class="form-control"><br><br>

</div>

<!-- SEE SOCIAL GROUPS -->
<div class="container-fluid" style="text-align: center;">
<button class="btn btn-secondary" [routerLink]="['/social-group']"> Social Group Page </button>
</div>
<br><br>

<!-- NEW GROUP FORM -->
<div class="container-fluid" style="text-align: center;">
<form class="form-control form-label form-group form-check form-inline"><br>

  <label for="name">Group Name:</label><br>
  <input type="text" id="name" name="name" [(ngModel)]="socialGroup.name"><br><br>

  <label for="category">Group Category:</label><br>
  <select type="select" id="category" name="category" [(ngModel)]="socialGroup.category.id">
    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
  </select><br><br>

  <label for="description">Description:</label><br>
  <textarea type="text" id="description" name="description" [(ngModel)]="socialGroup.description"></textarea><br><br>

  <label for="imageUrl">Group Image URL:</label><br>
  <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="socialGroup.imageUrl"><br><br>

<button class="btn btn-success" (click)="createNewGroup(socialGroup)">Create Group</button><br><br>
</form></div>
